<%#-- copyright
OpenProject is an open source project management software.
Copyright (C) the OpenProject GmbH

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

OpenProject is a fork of ChiliProject, which is a fork of Redmine. The copyright follows:
Copyright (C) 2006-2013 Jean-Philippe Lang
Copyright (C) 2010-2013 the ChiliProject Team

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See COPYRIGHT and LICENSE files for more details.

++#%>

<% html_title t(:label_administration), t(:label_cost_type_plural) %>
<%= stylesheet_link_tag 'costos/main', media: 'all' %>

<% per_page_value = @page_size == :all ? "all" : @page_size %>
<% per_page_param = per_page_value.to_s %>
<% preserved_params = {
     search: @search_term.presence,
     fixed_date: @fixed_date,
     include_deleted: (@include_deleted if @include_deleted.present?)
   }.compact %>

<%=
  render(Primer::OpenProject::PageHeader.new) do |header|
    header.with_title { I18n.t(:label_cost_type_plural) }
    header.with_breadcrumbs(
      [
        { href: admin_index_path, text: t("label_administration") },
        I18n.t(:label_cost_type_plural)
      ]
    )
  end
%>

<%= render(Primer::OpenProject::SubHeader.new) do |subheader| %>
  <% subheader.with_action_button(
       scheme: :primary,
       leading_icon: :plus,
       label: I18n.t(:button_add_cost_type),
       tag: :a,
       href: main_app.new_admin_cost_type_path
     ) do
       CostType.model_name.human
     end %>

   <% subheader.with_bottom_pane_component do %>
    <%= styled_form_tag(admin_cost_types_path, { method: :get, id: "query_form" }) do %>
      <fieldset id="filters" class="simple-filters--container">
        <legend><%= t(:label_filter_plural) %></legend>
        <ul class="simple-filters--filters">
          <li class="simple-filters--filter">
            <%= styled_label_tag :fixed_date, t(:"attributes.fixed_date"), class: "simple-filters--filter-name" %>
            <div class='simple-filters--filter-value'>
              <%= angular_component_tag "opce-basic-single-date-picker",
                                        inputs: {
                                          value: @fixed_date,
                                          id: :start_date,
                                          name: :fixed_date
                                        } %>
            </div>
          </li>
          <li class="simple-filters--filter">
            <%= styled_label_tag :include_deleted, t(:caption_show_locked), class: "simple-filters--filter-name -small" %>
            <div class="simple-filters--filter-value">
              <%= styled_check_box_tag :include_deleted, "1", @include_deleted, autocomplete: "off" %>
            </div>
          </li>
          <li class="simple-filters--controls">
            <%= submit_tag t(:button_apply), class: "button -primary -small" %>
            <%= link_to t(:button_clear), admin_cost_types_path, class: "button -small -with-icon icon-undo" %>
          </li>
        </ul>
      </fieldset>
      <%= hidden_field_tag :search, @search_term, id: nil %>
      <%= hidden_field_tag :per_page, per_page_param, id: nil %>
    <% end %>
   <% end %>
<% end %>

<div class="cost-types--results-header">
  <%= form_tag(admin_cost_types_path, method: :get, class: "cost-types--controls-form") do %>
    <div class="cost-types--search-field">
      <span class="cost-types--search-icon" aria-hidden="true">🔍︎</span>
      <%= text_field_tag :search,
                         @search_term,
                         placeholder: t("cost_types.search_placeholder"),
                         autocomplete: "off",
                         class: "cost-types--search-input" %>
    </div>

    <div class="cost-types--page-size">
      <%= select_tag :per_page,
                     options_for_select([[10, 10],
                                         [25, 25],
                                         [50, 50],
                                         [100, 100],
                                         [t("cost_types.per_page_all"), "all"]], per_page_param),
                     id: "cost_types_per_page",
                     class: "cost-types--page-size-select" %>
    </div>

    <%= hidden_field_tag :fixed_date, @fixed_date %>
    <%= hidden_field_tag :include_deleted, @include_deleted if @include_deleted.present? %>
    <%= hidden_field_tag :page, 1, id: nil %>
  <% end %>
</div>

<%= render partial: "list" %>

<% if @total_pages.to_i > 1 %>
  <div class="cost-types--pagination">
    <% (1..@total_pages).each do |page| %>
      <%= link_to page,
                  admin_cost_types_path(preserved_params.merge(per_page: per_page_param, page: page)),
                  class: "cost-types--page-link#{' -active' if page == @current_page}" %>
    <% end %>
  </div>
<% end %>

<% if @include_deleted %>
  <div class="cost-types--list-deleted">
    <h3><%= t(:label_locked_cost_types) %></h3>
    <%= render partial: "list_deleted" %>
  </div>
<% end %>
